root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true


# Matches multiple files with brace expansion notation
# Set default charset
[*.{cypher,groovy,html,java,js,jsx,sass,scala,sh}]
charset = utf-8
indent_style = tab
indent_size = 3
trim_trailing_whitespace = true
